<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet/less" href="./css/style.less" type="text/css" />
    <script src="./js/less.js"></script>
  </head>

  <body>
    {{>header}}
    <div class="container">
      <h2>
            {{message}}
        </h2>
        <img src="https://cdn-images-1.medium.com/max/1600/1*-Lv7y_W3qoO1fqsCii7jEA.gif" alt='not found'/>
    </div>
    {{>footer}}
  </body>

</html>