<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet/less" href="./css/style.less" type="text/css" />
    <script src="./js/less.js"></script>
  </head>

  <body>
    {{>header}}
    <div class="container">
      {{desc}}
    </div>
    {{>footer}}
  </body>

</html>