<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet/less" href="./css/style.less" type="text/css" />
    <script src="./js/less.js"></script>
  </head>
  <body>
    <h1>Help</h1>
    <div class="container">
      You can find all the help needed here.
      <br/>
      <p> {{message}}</p>
    </div>
  </body>
</html>